.container {
	width: 100%;
	display: flex;
	align-items: center;
}

.checkbox {
	display: none;
}

.checkbox_box {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 16px;
	height: 16px;
	border-radius: 4px;
	border: 1px solid #7e7e7e;
}
.checkbox_box.checked {
	background: #009aff;
	border: 1px solid #009aff;
}
.text {
	cursor: pointer;
	user-select: none;
	font-style: normal;

	line-height: 11px;
	letter-spacing: -0.141176px;
	padding-inline-start: 8px;
}

.button {
	display: flex;
	margin-inline-start: 8px;
}

.tooltip {
	position: relative;
}
