.container {
	display: flex;
	align-items: center;
	gap: 10px;
	overflow: hidden;
	max-width: var(--card-max-width);
	padding-top: var(--card-margin-inline);
	margin: 0 var(--wrapperSidesPadding);
}

.accept_text {
	font-style: normal;
	font-weight: 400;
	line-height: 12px;
	text-transform: uppercase;
}
