.container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.text {
	user-select: none;
	cursor: default;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 100%;
}
