.cardinput_class {
	display: block;
	width: 100%;
	letter-spacing: 0;
	border: 0px;
	outline: none;
}
[dir='rtl'] .cardinput_class,
[dir='rtl'] .cardinput_class > * {
	--font-family: var(--font-family-ar) !important;
	direction: rtl !important;
}

.cardinput_class::placeholder {
	font-weight: 300;
}

.cardinput_class:focus-visible {
	border: 0px;
	outline: none;
}

.valid {
	/* color: var(--color-black-100);
  font-family: var(--font-family);
  font-size: var(--font-size-l);
  font-weight: 300;
  letter-spacing: 0;
  line-height: 19px;
  border: 0px;
  outline: none;
  flex: 1;
  width: 100%; */
}

.cancel_button {
	cursor: pointer;
	border: 0;
	background: unset;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
