.header {
	display: flex;
	align-items: center;
	padding: 0 var(--wrapperSidesPadding);
	height: var(--card-header-min-height);
}

.icon-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.cancel_button {
	cursor: pointer;
	border: 0;
	background: unset;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.inputs_wrapper {
	display: flex;
	margin-left: 26px;
	min-width: 74%;
	z-index: 100;
}
