:root {
	/* Icons related variables, can be changed from React components */
	--icon-width: 22px;
	--icon-height: 22px;
}
.icon {
	background-size: var(--icon-width) var(--icon-height);
	background-repeat: no-repeat;
	background-position: center;
}

/* Flags */
.AED {
	background-image: url(images/flags/AED.svg);
}
.BHD {
	background-image: url(images/flags/BHD.svg);
}
.EGP {
	background-image: url(images/flags/EGP.svg);
}
.EUR {
	background-image: url(images/flags/EUR.svg);
}
.GBP {
	background-image: url(images/flags/GBP.svg);
}
.IQD {
	background-image: url(images/flags/IQD.svg);
}
.IRR {
	background-image: url(images/flags/IRR.svg);
}
.JOD {
	background-image: url(images/flags/JOD.svg);
}
.KWD {
	background-image: url(images/flags/KWD.svg);
}
.LBP {
	background-image: url(images/flags/LBP.svg);
}
.LYD {
	background-image: url(images/flags/LYD.svg);
}
.MAD {
	background-image: url(images/flags/MAD.svg);
}
.OMR {
	background-image: url(images/flags/OMR.svg);
}
.QAR {
	background-image: url(images/flags/QAR.svg);
}
.SAR {
	background-image: url(images/flags/SAR.svg);
}
.SDG {
	background-image: url(images/flags/SDG.svg);
}
.SOS {
	background-image: url(images/flags/SOS.svg);
}
.SYP {
	background-image: url(images/flags/SYP.svg);
}
.USD {
	background-image: url(images/flags/USD.svg);
}
.YER {
	background-image: url(images/flags/YER.svg);
}
.palestine {
	background-image: url(images/flags/palestine.svg);
}

/* Payment */
.postpay {
	background-image: url(images/payment/postpay.svg);
}
.dircontents {
	background-image: url(images/payment/dircontents.svg);
}
.paypal_full {
	background-image: url(images/payment/paypal_full.svg);
}
.cashcollected {
	background-image: url(images/payment/cashcollected.svg);
}
.cash {
	background-image: url(images/payment/cash.svg);
}
.meeza {
	background-image: url(images/payment/meeza.svg);
}
.amex {
	background-image: url(images/payment/amex.svg);
}
.mastercard {
	background-image: url(images/payment/mastercard.svg);
}
.careem_full {
	background-image: url(images/payment/careem_full.svg);
}
.benefit {
	background-image: url(images/payment/benefit.svg);
}
.tabby {
	background-image: url(images/payment/tabby.svg);
}
.paypal {
	background-image: url(images/payment/paypal.svg);
}
.tpay {
	background-image: url(images/payment/tpay.svg);
}
.mada {
	background-image: url(images/payment/mada.svg);
}
.omannet {
	background-image: url(images/payment/omannet.svg);
}
.qpay {
	background-image: url(images/payment/qpay.svg);
}
.mada_full {
	background-image: url(images/payment/mada_full.svg);
}
.wallet {
	background-image: url(images/payment/wallet.svg);
}
.careem {
	background-image: url(images/payment/careem.svg);
}
.naps {
	background-image: url(images/payment/naps.png);
}
.fawry {
	background-image: url(images/payment/fawry.svg);
}
.knet {
	background-image: url(images/payment/knet.svg);
}
.cashdeposited {
	background-image: url(images/payment/cashdeposited.svg);
}
.omannet_full {
	background-image: url(images/payment/omannet_full.svg);
}
.visaelectron {
	background-image: url(images/payment/visaelectron.svg);
}
.googlepay_full {
	background-image: url(images/payment/googlepay_full.svg);
}
.benefitpay {
	background-image: url(images/payment/benefitpay.svg);
}
.applepay_full {
	background-image: url(images/payment/applepay_full.svg);
}
.unspecified {
	background-image: url(images/payment/unspecified.svg);
}
.maestro {
	background-image: url(images/payment/maestro.svg);
}
.naps {
	background-image: url(images/payment/naps.svg);
}
.visa {
	background-image: url(images/payment/visa.svg);
}
.googlepay {
	background-image: url(images/payment/googlepay.svg);
}
.fawry_full {
	background-image: url(images/payment/fawry_full.svg);
}
.stcpay {
	background-image: url(images/payment/stcpay.svg);
}
.applepay {
	background-image: url(images/payment/applepay.svg);
}
.cheque {
	background-image: url(images/payment/cheque.svg);
}
.sadad {
	background-image: url(images/payment/sadad.svg);
}
