/* Fonts */
@font-face {
	font-family: 'Tap Sans';
	src:
		url(https://cdn.tap.company/tap-assets/fonts/TapSans/TapSansVF.woff2) format('woff2'),
		url(https://cdn.tap.company/tap-assets/fonts/TapSans/TapSansVF.woff) format('woff'),
		url(https://cdn.tap.company/tap-assets/fonts/TapSans/TapSansVF.ttf) format('truetype');
}

@font-face {
	font-family: 'Tap Tajawal';
	font-display: swap;
	font-weight: 300;
	src: url('https://cdn.tap.company/tap-assets/fonts/TapTajawal/TajawalTap-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Tap Tajawal';
	font-display: swap;
	font-weight: 400;
	src: url('https://cdn.tap.company/tap-assets/fonts/TapTajawal/TajawalTap-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Tap Tajawal';
	font-display: swap;
	font-weight: 500;
	src: url('https://cdn.tap.company/tap-assets/fonts/TapTajawal/TajawalTap-Medium.ttf') format('truetype');
}

:root {
	--font-size-s: 10px;
	--font-family-roboto: 'Tap Sans', sans-serif;
	--font-family-tajawal-arabic: 'Tap Tajawal', 'sans-serif';
	--font-family-en: var(--font-family-roboto);
	--font-family-ar: var(--font-family-tajawal-arabic);

	--font-family: var(--font-family-en);

	/* shared colors */
	--placeholder-color: '#000';

	/* shared size/space */
	--card-max-width: 500px;
	--card-header-min-height: 48px;
	--card-border-radius: 8px;
	--card-margin-inline: 8px;
	--wrapperSidesPadding: 12px;
	--wrapperSidesPaddingSquared: calc(var(--wrapperSidesPadding) * 2);
}

[dir='rtl'],
[dir='rtl']>* {
	--font-family: var(--font-family-ar) !important;
	direction: rtl !important;
}

/* Reset */
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
	background-repeat: no-repeat;
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-word;
	-webkit-font-smoothing: antialiased;
}

html {
	scroll-behavior: smooth;
	font-size: 10px;
}

body {
	cursor: default;
	margin: 0 !important;
	padding: 0 !important;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	min-height: 100vh;
	color-adjust: exact !important;
	-webkit-print-color-adjust: exact !important;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
}

@supports (-webkit-overflow-scrolling: touch) {
	input {
		font-size: 16px !important;
	}
}

::-webkit-input-placeholder {
	font-weight: 300;
	color: var(--placeholder-color);
}

::-moz-placeholder {
	font-weight: 300;
	color: var(--placeholder-color);
}

::placeholder {
	font-weight: 300;
	color: var(--placeholder-color);
}

html,
body {
	font-family: var(--font-family) !important;
}

picture,
img {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	user-select: none;

	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	-ms-user-drag: none;
	user-drag: none;
}

/* input caret color */
input {
	caret-color: #007aff;
}

/* reset button */
button {
	background: none;
	border: none;
	cursor: pointer;
	outline: none;
	padding: 0;
}

/* reset checkbox input styles */
input[type='checkbox'] {
	-webkit-appearance: none;
	appearance: none;
	/* For iOS < 15 to remove gradient background */
	background-color: #fff;
	/* Not removed via appearance */
	margin: 0;
}

#root {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}



/* Fix for white background on autofill */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-animation: autofill 0s forwards;
	animation: autofill 0s forwards;
}

@keyframes autofill {
	100% {
		background: transparent;
		color: inherit;
	}
}

@-webkit-keyframes autofill {
	100% {
		background: transparent;
		color: inherit;
	}
}

@keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeout {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}